.card {
  font-family: 'Trebuchet MS', sans-serif;
  margin-left: 50px;
  width: 250px;
  height: 350px;
  transition: all .3s cubic-bezier(.95, .05, .8, .04);
  border-radius: 13px;
  box-shadow: transparent 5px 3px,
    #FCB424 15px 20px;
  background: linear-gradient(90deg, #63C5EA, #4FA3A5);
}

.card:hover {
  margin-top: 2%;
  box-shadow: #63C5EA 10px 25px,
    #4FA3A5 -15px 10px;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px #FCB424 solid;
}

.card-content {
  background: transparent;
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
}

.card-content svg {
  transition: all .2s cubic-bezier(.95, .05, .8, .04);
  margin: -75px 100px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-img :hover {
  border-radius: 50%;
}

.card-text {
  color: #FCB424;
  width: 100%;
  height: 100%;
  margin: 85px 7px;
}

.card-text h3{
margin-top: -15px;
}

.card-link {
  height: 37.5%;
  color: #3A3E59;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: #FCB424 1px solid;
  border-top: #FCB424 1px solid;
}

.card-link ul {
  margin-left: -10px;
  list-style-type: none;
  flex: 1 1 200px;
  text-align: left;
  display: flex;
}
i{
  color: #3A3E59;
}
.card-link i {
  width: 50px;
  transition: all .3s cubic-bezier(.95, .05, .8, .04);
  height: 50px;
  font-size: 30px;
}

.card-link a i:hover{
color: #fcb424f6;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.card-link li {
  width: 100%;
  text-decoration: none;
}
.card-footer{
  width: 100%;
  height: 100%;
}

.card-footer {
font-size: 20px;
text-align: center;
height: 20%;
margin-top: 8.5px;
}
